@use './colors' as col;

@font-face {
	font-family: 'Lavolta';
	src: url(./src/fonts/Lavolta-rgPnB.otf) format('opentype');
}
@font-face {
	font-family: 'YsabeauInfantLight';
	src: url(./src/fonts/YsabeauInfant-Light.ttf) format('truetype');
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'YsabeauInfantLight', sans-serif;
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
}

a {
	text-decoration: none;
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}
.nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	font-family: 'Lavolta', sans-serif;
	font-size: 2.8rem;
	transition: all 0.5s;
	z-index: 999;
	img {
		display: block;
	}
}
.nav-mobile {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Lavolta', sans-serif;
	background-color: col.$light;
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	z-index: 100;

	.nav-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 8rem;
		&__logo {
			display: none;
		}
		&__socials {
			scale: (2);
			filter: invert(10%) sepia(35%) saturate(1374%) hue-rotate(318deg)
				brightness(94%) contrast(97%);
		}
		&__items {
			display: flex;
			flex-direction: column;
			.nav__item {
				color: col.$accent;
				font-size: 4rem;
				&::after {
					background-color: col.$accent;
				}
			}
		}
	}
}

.burger-btn {
	display: none;
	position: fixed;
	top: 0px;
	right: 00px;
	padding: 2.5rem;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 100;

	&:focus {
		outline: none;
		border: 1px solid transparent;
		border-radius: 10px;
	}
	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}
	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}
	&__bars,
	&__bars::after,
	&__bars::before {
		content: '';
		position: absolute;
		right: 0;
		height: 3px;
		background-color: col.$accent;
		transition: width 0.3s;
	}
	&__bars {
		background: col.$accent;
		width: 100%;
		&::after {
			top: 13px;
			width: 60%;
		}
		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}
.nav-shadow {
	background-color: rgba(56, 20, 20, 0.2);
}

.nav-scrolled {
	background-color: col.$light;
	box-shadow: 0px 5px 10px rgba(black, 0.5);
	.nav-container__logo {
		filter: invert(10%) sepia(35%) saturate(1374%) hue-rotate(318deg)
			brightness(94%) contrast(97%);
	}
	.nav__item {
		color: col.$accent;
	}
	.nav__item::after {
		background: col.$accent;
	}
	.nav-container__socials {
		filter: invert(10%) sepia(35%) saturate(1374%) hue-rotate(318deg)
			brightness(94%) contrast(97%);
	}
}

.nav-container__logo {
	position: relative;
	width: 200px;
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(79deg)
		brightness(105%) contrast(101%);
	margin: 20px 20px;
}
.nav-container__items {
	display: flex;
	gap: 50px;
	justify-content: space-around;
	align-items: center;
	text-transform: uppercase;
}
.nav__item {
	position: relative;
	letter-spacing: 2px;
	white-space: nowrap;
	color: #fff;
}
.nav__item::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s ease-in;
}
.nav__item:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.nav-container__socials {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s ease-in;
	margin: 0 20px;
	gap: 10px;
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(79deg)
		brightness(105%) contrast(101%);
}
.nav__social:hover {
	transform: scale(0.9);
}

.header {
	position: relative;
	background-image: url('./../../dist/img/hero-bg.jpeg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: -5;
}
.hero-img {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(224, 191, 184, 0.65);
}
.logotype {
	position: absolute;
	padding: 0 20px;
	width: 100%;
	max-width: 1000px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.header__arrow {
	display: block;
	position: absolute;
	bottom: 0;
	left: 49%;
	scale: 2;
	animation: bounce 2s infinite;
}

.heading {
	text-align: center;
	display: block;
	padding: 40px;
	font-size: 3rem;
	color: col.$accent;
	font-family: 'Lavolta', sans-serif;
}

.aboutme {
	background-color: col.$bg;
}
.intro {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 20px;
	&__text {
		text-align: justify;
		font-size: 2.4rem;
		max-width: 70%;
		padding: 40px;
	}
}

.intro__photo img {
	max-width: 100%;
	border-radius: 15px;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
}
.brands-container p {
	font-size: 2.4rem;
	margin: 40px;
	text-align: justify;
}
.brands-slider {
	position: relative;
	overflow: hidden;
	margin: 20px 0;
	padding: 20px 0;
	background-color: col.$light;
	white-space: nowrap;
}
.brands-slider:before,
.brands-slider:after {
	content: '';
	position: absolute;
	top: 0;
	width: 200px;
	height: 100%;
	z-index: 5;
}
.brands-slider::before {
	left: 0;
	background: linear-gradient(to left, rgba(255, 255, 255, 0), col.$bg);
}
.brands-slider::after {
	right: 0;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), col.$bg);
}

.brands-slider__logos {
	display: inline-block;
	animation: 60s slide infinite linear;
	filter: invert(10%) sepia(35%) saturate(1374%) hue-rotate(318deg)
		brightness(94%) contrast(97%);
}
.brands-slider__logos img {
	height: 50px;
	margin: 0 40px;
}
.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	p {
		font-size: 2.4rem;
		margin: 40px;
		text-align: justify;
		strong {
			color: col.$accent;
		}
	}
}
.card {
	position: relative;
	margin: 20px;
	height: 500px;
	width: 300px;
	text-align: center;
	background-position: center;
	background-size: cover;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}
.one {
	background-image: url(/src/img/card1.jpg);
}
.two {
	background-image: url(/src/img/card2.jpg);
}
.three {
	background-image: url(/src/img/card3.jpg);
}
.card-button {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 10px;
	background: none;
	border: none;
	border-radius: 50%;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
	cursor: crosshair;
	z-index: 10;
}
.card-button:hover ~ .card-text {
	clip-path: circle(100% at 50% 50%);
}
.card-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 80px 30px;
	background-color: rgba(0, 0, 0, 0.8);
	clip-path: circle(0% at 100% 0%);
	transition: clip-path 0.6s;
	h2 {
		font-size: 3rem;
		color: col.$light;
		margin-bottom: 30px;
	}
	h3 {
		font-size: 2rem;
		color: #fff;
	}
}
.portfolio {
	background-color: col.$light;
}
.carousel-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 20px;
	padding: 0 20px;
	background-color: col.$accent;
	border-radius: 25px;
}
.carousel-container i {
	position: absolute;
	height: 40px;
	width: 40px;
	font-size: 2.4rem;
	text-align: center;
	background-color: col.$bg;
	border-radius: 50%;
	line-height: 40px;
	cursor: pointer;
}
.carousel-container i:first-child {
	display: none;
	left: 0px;
}
.carousel-container i:last-child {
	right: 0px;
}
.carousel-container .carousel {
	font-size: 0px;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	scroll-behavior: smooth;
}

.carousel.dragging {
	cursor: grab;
	scroll-behavior: auto;
}
.carousel.dragging img {
	pointer-events: none;
}
.carousel img {
	height: 340px;
	object-fit: cover;
	margin-left: 20px;
	user-select: none;
	width: calc(100% / 3);
}

.carousel img:first-child {
	margin-left: 0px;
}
.portfolio-text {
	text-align: justify;
	font-size: 2.4rem;
	padding: 0px 40px 40px;
}

@media screen and (max-width: 1050px) {
	.carousel img {
		width: calc(100% / 2);
	}
}
@media screen and (max-width: 550px) {
	.carousel img {
		width: 100%;
	}
}
.portfolio-button {
	display: flex;
	margin: 40px auto;
	width: 25%;
	height: 50px;
	border: 1px solid col.$accent;
	background-color: col.$bg;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.25s ease-in;
}
.portfolio-button a {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	font-family: 'YsabeauInfantLight', sans-serif;
	font-weight: bold;
	color: col.$accent;
}
.portfolio-button:hover {
	background-color: col.$accent;
	a {
		color: col.$bg;
	}
}
.offer {
	background-color: col.$bg;
}
.season {
	font-size: 3.6rem;
	font-weight: bold;
	text-align: center;
	color: col.$accent;
}
.prices-box {
	font-size: 3rem;
	padding: 10px 0;
	margin: 0 20px;
	p {
		font-size: 2.4rem;
		text-align: justify;
		line-height: 3.5rem;
		padding: 0 20px;
	}
}
.prices-box__line {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	.price {
		font-weight: bold;
		color: col.$accent;
	}
}
.prices-final {
	position: relative;
	font-size: 2.8rem;
	text-align: center;
	padding: 40px;
	a {
		box-shadow: inset 0 0 0 0 col.$accent;
		color: col.$accent;
		margin: 0 -0.25rem;
		padding: 0 0.25rem;
		transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	}
	a:hover {
		box-shadow: inset 150px 0 0 0 col.$accent;
		color: white;
	}
}

.contact {
	background-image: url(/src/img/contact-bg.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.contact-shadow {
	background-color: rgb(224, 191, 184, 0.85);
}
.contact-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px auto 40px;
	padding: 20px;
	border: 1px solid col.$accent;
	border-radius: 20px;
	font-size: 2.8rem;
	color: col.$accent;
	font-weight: bold;
	width: 50%;
	img {
		margin-bottom: 10px;
	}
}

.footer-bottom-text {
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
	color: col.$light;
	background-color: col.$accent;
}

@media screen and (max-width: 992px) {
	.nav-container__items,
	.nav-container__logo {
		display: none;
	}
	.nav-container__socials {
		position: relative;
		left: 0;
		filter: invert(10%) sepia(35%) saturate(1374%) hue-rotate(318deg)
			brightness(94%) contrast(97%);
	}
	.burger-btn {
		display: block;
	}
	.nav-shadow {
		background-color: col.$light;
	}
	.aboutme {
		p {
			font-size: 2rem;
		}
		.cards p {
			margin: 20px;
		}
	}
	.portfolio-text {
		font-size: 2rem;
	}
	.prices-box {
		p {
			font-size: 2rem;
		}
	}
	.prices-final {
		font-size: 2.4rem;
	}
	.contact-container {
		width: 70%;
	}
}

@media screen and (max-width: 768px) {
	.intro {
		display: flex;
		flex-wrap: wrap-reverse;
		margin: 0 10px;
		.intro__text {
			font-size: 1.6rem;
			padding: 0;
		}
		.intro__photo {
			max-width: 75%;
			padding-bottom: 20px;
		}
	}
	.portfolio-button {
		width: 75%;
	}
	.contact-container {
		white-space: nowrap;
		width: 70%;
		font-size: 2.2rem;
	}
}

@media screen and (max-width: 576px) {
	.nav-container__items {
		gap: 30px;
	}
	.nav-mobile .nav-container__items .nav__item {
		font-size: 3rem;
	}
	.prices-box__line {
		font-size: 2.4rem;
	}
	.contact-container {
		font-size: 2rem;
	}
}

@keyframes slide-left {
	0%,
	100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(20px);
	}
}
@keyframes slide-right {
	0%,
	100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(20px);
	}
}
@keyframes slide {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}
@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}
